trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'conexion-azure'
    appName: 'appweb-proyectofinal'
    package: '$(System.DefaultWorkingDirectory)/**'
